---
import CitationField from '../components/React/CitationField';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="A citation generator for the American Chemical Society style. Created by Trevor Fox"
        />
        <meta
            name="keywords"
            content="acs, american chemical society, chemistry, reference, citation, generator, automatic, engine"
        />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>Labcatr-λ | ACS Generator</title>
        <script>
            import 'remixicon/fonts/remixicon.css';
        </script>
    </head>
    <body>
        <main>
            <div class="mx-auto w-11/12 rounded-lg bg-neutral my-10 py-8 px-8">
                <div class="w-full mb-4">
                    <h1 class="text-2xl font-bold">
                        Labcatr-λ, an ACS Citation Generator
                    </h1>
                    <p class="text-lg">
                        This is a citation generator for the <a
                            class="font-semibold text-secondary underline"
                            href="https://pubs.acs.org/doi/full/10.1021/acsguide.40303"
                            >American Chemical Society</a
                        > style.
                    </p>
                </div>
                <!-- Input for a DOI and a div where its outputs will be generated -->
                <div class="flex flex-row items-end pb-4">
                    <div class="form-control w-1/4 mr-4">
                        <label for="doi-input" class="label"
                            ><span class="label-text">DOI</span></label
                        >
                        <input
                            id="doi-input"
                            type="text"
                            class="input input-neutral rounded-lg bg-base-200"
                            placeholder="10.1000/182"
                        />
                    </div>
                    <div class="flex items-center">
                        <button id="generate" class="btn btn-base-100 mr-4"
                            >Generate</button
                        >
                        <div id="status" class="text-error font-bold"></div>
                    </div>
                </div>
                <div
                    id="output"
                    class="mx-auto w-full rounded-lg bg-base-200 min-h-[6rem] p-4 mt-4"
                >
                    <!-- <ACSCitation
                        citation-id="test"
                        authors="test"
                        journalAbbr="test"
                        title="test"
                        year="2002"
                        volume="test"
                        pages="test"
                        url="test"
                    /> -->
                    <CitationField client:only="react" />
                </div>
                <div class="mt-4">
                    <button id="copy-text" type="button" class="btn btn-success mr-4"
                        >Copy to Clipboard</button
                    >
                    <button id="copy-mark" type="button" class="btn btn-primary mr-4"
                        >Copy as Markdown</button
                    >
                    <button id="delete-data" type="button" class="btn btn-warning"
                        >Delete All Data</button
                    >
                </div>
            </div>
        </main>

        <h2 class="mx-auto w-fit">Created by <b>Trevor Fox</b> on October 14th, 2023.</h2>
        <h2 class="mx-auto w-fit text-sm">
            <a href="https://github.com/VoxelMC/citation-astro/wiki/CHANGELOG">v1.1.0</a>
        </h2>
    </body>

    <script>
        import { $citationsMap } from '../atoms/citationsMap.ts';
        const statusDiv = document.getElementById('status') as HTMLDivElement;

        function htmlToElement(html: string): HTMLElement {
            var template = document.createElement('template');
            html = html.trim(); // Never return a text node of whitespace as the result
            template.innerHTML = html;
            return (
                (template.content.children.item(0) as HTMLElement) || new HTMLElement()
            );
        }

        function normalizeDoi(doi: string): string {
            let out = doi.trim();
            // Remove the https://doi.org/ prefix if it exists
            out = out.replace('https://doi.org/', '');
            // Remove a leading slash if it exists
            out = out[0] == '/' ? out.replace('/', '') : out;

            return out;
        }

        document.getElementById('generate')?.addEventListener('click', async () => {
            const inputValue = (document?.getElementById('doi-input') as HTMLInputElement)
                ?.value;
            const currentDoi =
                inputValue.length >= 1 ? inputValue.split(',') : ['No Doi Entered'];

            if (currentDoi[0] == 'No Doi Entered') {
                statusDiv.innerHTML = `No DOI entered.`;
                return;
            }

            for (const doi of currentDoi) {
                const normalizedDoi: string = normalizeDoi(doi);
                const url = `https://api.crossref.org/works/${normalizedDoi}`;
                statusDiv.innerHTML = `<span class="text-success">Fetching citation for ${currentDoi}</span>.`;

                let data = await fetch(url);
                console.info(
                    'Fetching from: ' + url + '. Click this to view the JSON response.',
                );

                if (!data.ok) {
                    statusDiv.textContent =
                        'Error fetching data from Crossref. Did you enter a valid DOI?';
                } else {
                    const jsonData = (await data.json()) as any;
                    const authors = jsonData.message.author
                        .map((author: { family: string; given: string }) => {
                            return `${author.family}, ${author.given
                                .split(' ')
                                .map(name => name[0])
                                .join('. ')}.`.trim();
                        })
                        .join('; ');

                    const title = jsonData.message.title[0].replace(/\n/g, '');

                    const journalAbbr =
                        jsonData.message['short-container-title'][0] ??
                        jsonData.message['container-title'][0] ??
                        jsonData.message['publisher'];
                    const year = jsonData.message['published']['date-parts'][0][0];

                    const volume = jsonData.message.volume;
                    const pages = jsonData.message.page;
                    const url = jsonData.message.URL.replace('dx.doi.org', 'doi.org');
                    const id =
                        'citation-' + jsonData.message.DOI.replaceAll(/\/|\./g, '-');

                    if (
                        $citationsMap
                            .get()
                            .some((citation: HTMLElement) => citation.id == url)
                    ) {
                        statusDiv.innerHTML = `<span class="text-error">Citation for ${currentDoi} already exists.</span>`;
                        continue;
                    }

                    const volumeAndPages = volume
                        ? ', <i>' + volume + (pages ? `</i>, ${pages}` : '</i>')
                        : '';

                    const htmlCitation = `<div>${authors} ${title}. <i>${
                        journalAbbr ?? ''
                    }</i> <b>${year}</b>${volumeAndPages}. ${url}.</div>`
                        .toString()
                        .replace('undefined', '');

                    const citationElement = htmlToElement(htmlCitation);
                    citationElement.id = id;

                    $citationsMap.set([...$citationsMap.get(), citationElement]);
                    window.dispatchEvent(new Event('storage'));

                    (document.getElementById('doi-input') as HTMLInputElement).value = '';
                    statusDiv.innerHTML = `<span class="text-blue-400">Done.</span>`;
                }
            }
        });
    </script>

    <script>
        // Clipboard Logic

        import TurndownService from 'turndown';
        const turndownService = new TurndownService({
            headingStyle: 'atx',
            codeBlockStyle: 'fenced',
            emDelimiter: '*',
            bulletListMarker: '-',
            fence: '```',
            strongDelimiter: '**',
            linkStyle: 'inlined',
            linkReferenceStyle: 'full',
        });

        document.getElementById('copy-text')?.addEventListener('click', () => {
            const output = document.getElementById('output')?.innerText;
            copyToClipboard(output ?? '', 'text');
        });

        document.getElementById('copy-mark')?.addEventListener('click', () => {
            const output = turndownService.turndown(
                document.getElementById('output') as TurndownService.Node,
            );
            copyToClipboard(output ?? '', 'markdown');
        });

        // TODO: RE-ENABLE THIS
        // document.getElementById('copy-html')?.addEventListener('click', () => {
        //     const output = document.getElementById('output')?.innerHTML;
        //     copyToClipboard(output ?? '', 'html');
        // });

        // window.addEventListener('citation-field-mounted', () => {
        //     findCopyButtons();
        // });
        window.addEventListener('citation-field-updated', () => {
            findCopyButtons();
        });
        function findCopyButtons() {
            document.querySelectorAll('.copy-button').forEach(el => {
                el.addEventListener('click', () => {
                    const data = (el as HTMLElement).dataset;
                    copyCitation(data.for as string, data.method as FormatStyle);
                });
            });
        }

        type FormatStyle = 'text' | 'html' | 'markdown';

        function copyCitation(id: string, format: FormatStyle) {
            const citation = document.querySelector(
                `#${id} .citation-inner`,
            ) as HTMLElement;

            let textToCopy: string = '';
            switch (format) {
                case 'text':
                    textToCopy = citation.innerText;
                    break;
                case 'markdown':
                    textToCopy = turndownService.turndown(
                        citation as TurndownService.Node,
                    );
                    break;
            }

            navigator.clipboard.writeText(textToCopy).then(
                function () {
                    console.log(`Copying ${id} to clipboard was successful!`);
                },
                function (err) {
                    console.error('Async: Could not copy text: ', err);
                },
            );
        }

        function copyToClipboard(text: string, format: string) {
            // Copy the content of the output div to the clipboard
            navigator.clipboard.writeText(text).then(
                function () {
                    console.log(
                        'Copying to clipboard was successful! Formatted as: ' + format,
                    );
                },
                function (err) {
                    console.error('Async: Could not copy text: ', err);
                },
            );
        }
    </script>

    <script>
        // Handle Deletes
        import { $citationsMap } from '../atoms/citationsMap.ts';

        // Delete All Data
        document.getElementById('delete-data')?.addEventListener('click', () => {
            $citationsMap.set([]);
            window.dispatchEvent(new Event('storage'));
        });

        // Delete Single Citation
        function findDeleteButtons() {
            document.querySelectorAll('.delete-button').forEach(el => {
                // console.log(el);
                el.addEventListener('click', () => {
                    const data = (el as HTMLElement).dataset;
                    deleteCitation(data.for as string);
                });
            });
        }
        window.addEventListener('citation-field-updated', () => {
            findDeleteButtons();
        });

        function deleteCitation(id: string) {
            const citationsMap = $citationsMap.get();
            const index = citationsMap.findIndex(citation => citation.id == id);
            if (index > -1) {
                citationsMap.splice(index, 1);
            }

            $citationsMap.set(citationsMap);
            window.dispatchEvent(new Event('storage'));
        }
    </script>
</html>
